In [1]:
#Importing dependancies and file
import pandas as pd
file_path=("Resources/purchase_data.csv")
purchase_df=pd.read_csv(file_path)

In [2]:
#View original csv
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Player count
player_count=len(purchase_df["SN"].value_counts())
pc_table = pd.DataFrame([{"Total Player Count": player_count}])
pc_table

   Total Player Count
0                 576

In [24]:
#Purchasing Analysis Total
#number of unique items
unique_items = len(purchase_df["Item ID"].value_counts())
#average purchase price
avg_pur_price = round(purchase_df["Price"].mean(),2)
#total purchases
total_purchases = purchase_df["Purchase ID"].count()
#total purchase value
total_value = round((purchase_df["Price"].sum()),2)
#creating dataframe of values
purchasing_analysis_total = pd.DataFrame([{
    "Total Purchases": total_purchases,"Number of Unique Itmes": unique_items,
    "Average Purchase Price":avg_pur_price,"Total Revenue":total_value
}])
#Formatting values
purchasing_analysis_total["Average Purchase Price"] = (
purchasing_analysis_total["Average Purchase Price"].astype(float).map("${:,.2f}".format))
purchasing_analysis_total["Total Revenue"] = (
purchasing_analysis_total["Total Revenue"].astype(float).map("${:,.2f}".format))
purchasing_analysis_total

,Total Purchases,Number of Unique Itmes,Average Purchase Price,Total Revenue
0,780,179,$3.05,"$2,379.77"

In [6]:
#Gender Demographics
#Gender Counts
gender_group = purchase_df.groupby(["Gender"])
gender_unique = gender_group["SN"].value_counts()
gender_count = gender_unique.count("Gender")
#Percent_gender
percent_gender = round((gender_count/gender_unique.count())*100,2)
#Table and Formatting
g_table = pd.DataFrame({
    "Total Gender Count":gender_count,"Percent of Gender":percent_gender
})
g_table = g_table.sort_values("Percent of Gender", ascending=False)
g_table["Percent of Gender"] = g_table["Percent of Gender"].astype(float).map("{:,.2f}%".format)
g_table

                       Total Gender Count Percent of Gender
Gender
Male                                  484            84.03%
Female                                 81            14.06%
Other / Non-Disclosed                  11             1.91%

In [10]:
#Purchasing Analysis Gender
gender_group.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [38]:
#Purchasing Analysis Gender
#Counts per gender
purchase_count=gender_group["Purchase ID"].count()
#Avg purchase price
avg_pur_price_gender = round(gender_group["Price"].mean(),2)
#Total purchase value
total_value_gender = round(gender_group["Price"].sum(),2)
#Avg purchase price per person
avg_pur_price_per_gender = round(total_value_gender/gender_count,2)
#Table and formatting
purchasing_analysis_gender = pd.DataFrame({
    "Purchase Count": purchase_count, "Average Purchase Price": avg_pur_price_gender, 
    "Total Purchase Value": total_value_gender, "Average Total Purchase per Person":avg_pur_price_per_gender
})
purchasing_analysis_gender["Average Purchase Price"] = (
purchasing_analysis_gender["Average Purchase Price"].astype(float).map("${:,.2f}".format))
purchasing_analysis_gender["Total Purchase Value"] = (
purchasing_analysis_gender["Total Purchase Value"].astype(float).map("${:,.2f}".format))
purchasing_analysis_gender["Average Total Purchase per Person"] = (
purchasing_analysis_gender["Average Total Purchase per Person"].astype(float).map("${:,.2f}".format))
purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56